version: '3.8'

networks:
  ds_network:
    name: ds_newtork
    driver: bridge

services:
  ds_postgres:
    container_name: ds_postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ds_postgres
      POSTGRES_PASSWORD: ds_postgres
      POSTGRES_DB: ds_postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h ds_postgres -p 5432 -d ds_postgres -U ds_postgres" ]
      interval: 5s
      timeout: 45s
      retries: 5
    depends_on:
      pgadmin:
        condition: service_started
    volumes:
      - ds_postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      ds_network:

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ds_email@admin.com
      PGADMIN_DEFAULT_PASSWORD: ds_postgres
    ports:
      - "8080:80"
    networks:
      ds_network:

  ds_api:
    container_name: ds_api
    image: ds_api
    build:
      context: .
      dockerfile: PSG.DeliveryService.Api/Dockerfile
    ports:
      - "7070:70"
    depends_on:
      pgadmin:
        condition: service_started
      ds_postgres:
        condition: service_healthy
    networks:
      ds_network:
        
volumes:
  ds_postgres_data: